
html, body {
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dd2d44; 
    background-image: linear-gradient(to bottom right, #dd2d44, #b92883);
    background: -moz-linear-gradient(to bottom right,  #dd2d44,  #b92883);
    background: -webkit-gradient(linear, left top, right bottom, from(#dd2d44), to(#b92883));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    transform: translate2d(0,0,0); 
}

nav{
    background-color: rgba(255, 255, 255, 0.1);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 10;
}

@media only screen and (min-width: 900px) {
    nav{
        background: none;
        position: static;
        z-index: 10;
    }
}

.hamburger{
    padding: 20px;
    color: white;
    order: 3;
}

nav li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-size: 13px;
}

nav li a:hover{
    border-bottom: 3px solid white;
    background-image: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
}

nav a.chosen{
    border-bottom: 3px solid white;
}

nav img{
    height: 50px;
}

nav ul{
    margin-top: 10px;
    margin-right: 30px;
}

nav li{
    display: none;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
}

.nav_logo{
    display: flex;
    text-decoration: none;
    color:white;
    align-items: center;
    padding: 20px;
}

.nav_logo:hover{
    background-image: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
}

.logo_text{
    display: none;
    margin-left: 8px;
    font-size: 22px;
    font-family: 'Montserrat';
}

@media only screen and (min-width: 900px) {
    nav button{
        display: none;
    }

    nav li{
        display: inline;
    }

    .logo_text{
        display: block;
    }
}

.logo_text > div{
    font-weight: bold;
}

.hamburger_menu{
    margin-top: 90px;
    width: 100%;
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 11;
}

.hamburger_menu a{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #dd2d44;
    padding: 20px 0;
}

.hamburger_menu a:hover{
    background-color: #dd2d44;
    color: white;
}

.hamburger{
    font-size: 20pt;
    background: none;
    border: none;
    cursor: pointer;
}

button:focus {outline:0;}

.page_flex{
    width:100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}

.panel{
    width:100%;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.panel section{
    width:90vw;
    padding-inline-start: 0;
    padding-bottom:80px;
}

.panel ul{
    list-style-type: none;
    padding-inline-start: 10px;
}

.panel p{
    width:90vw;
    padding-inline-start: 0;
}

.panel h1{
    font-size: 16pt;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top:25px;
    text-align: center;
}

.fee_box h3{
    font-size: 13pt;
    font-family: 'Montserrat';
    margin-top: 5px;
    text-decoration: underline;
}

.fee_box{
    width: 80vw;
    margin: 20px 0;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 12px -3px rgb(0, 0, 0);
    padding: 20px;
}

.panel .fee_box p{
    width: 80vw;
    padding-inline-start: 0;
}

@media only screen and (min-width: 900px) {
    .panel{
        flex-direction: row;
        align-items: flex-start;
    }

    .panel ul{
        padding-inline-start: 40px;
    }

    .panel p{
        width: 45vw;
        margin-right: 10vw;
        padding-inline-start: 40px;
        padding-bottom: 0;
    }

    .panel section{
        width:45vw;
        margin-right: 10vw;
        padding-inline-start: 40px;
        padding-bottom: 0;
    }

    .panel h1{
        font-size: 20pt;
        padding-inline-start: 30px;
        margin-bottom: 30px;
        margin-top:17.867px;
        text-align: left;
    }

    .hamburger_menu a{
        display: none;
    }

    .fee_box{
        width: 45vw;
    }

    .panel .fee_box p{
        width: 45vw;
    }
}

.panel li {
	padding: 15px 0 15px 70px;
    position: relative;
}

#robert_photo{
    height: 200px;
    margin-top: 60px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 40px -5px rgb(0, 0, 0); 
}

@media only screen and (min-width: 600px) {
    #robert_photo{height: 250px;}
}

@media only screen and (min-width: 900px) {
    #robert_photo{
        height: 300px;
        border-width: 5px;
        margin-top: 100px;
    }

}

#robert_photo:hover{
    box-shadow: 0 0 40px -3px rgb(0, 0, 0); 
}

.rp-li {
    position: absolute;
    top: 0.3em;
    left: 0.4em;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
}

footer div{
    margin: 0 20px 20px 20px;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 12px -3px rgb(0, 0, 0);
}

footer p{
    display: block;
    text-align: center;
    margin: 8px 0 ;
}

footer i{
    margin-right: 8px;
}

@media only screen and (min-width: 900px) {
    footer{
        justify-content: flex-end;
        padding-top: 100px;
    }

    footer p{
        text-align: end;
    }

    footer div{
        border: none;
        box-shadow: none;
    }
}
